# Engine Loop properties
engine.max_fps = 60
engine.max_simulation_count = 1

# Logging properties
logger.save_to_file = false
logger.path = logs

# Window properties
window.title = Enemy Test
#1200
window.width = 1200
#900
window.height = 900
window.vsync = false
window.fullscreen = false
window.show_cursor = true

# Assets Directories
assets.directory = assets\\

# Render properties


